<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :job_company_id %>
  </div>

  <div class="field">
    <%= form.label :front_end %>
    <%= form.check_box :front_end, id: :job_front_end %>
  </div>

  <div class="field">
    <%= form.label :back_end %>
    <%= form.check_box :back_end, id: :job_back_end %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :job_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
