<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<details>
  <summary>All</summary>
  <%= render @jobs %>
</details>

<h2>At Xero</h2>
<%= render @xero_jobs %>

<h2>Front-end</h2>
<%= render @front_end_jobs %>

<h2>Back-end</h2>
<%= render @back_end_jobs %>

<h2>Full stack (front-end ∩ back-end)</h2>
<%= render @full_stack_jobs %>

<h2>I hate back-end (back-end')</h2>
<%= render @i_hate_back_end_jobs %>

<h2>Atlassian or Xero (atlassian jobs U xero jobs)</h2>
<%= render @xero_or_atlassian_jobs %>

<h2>Finance (finance)</h2>
<%= render @finance_jobs %>

<h2>Non-finance full stack (full stack - finance jobs)</h2>
<%= render @non_finance_full_stack_jobs %>

<h2>JavaScript</h2>
<%= render @javascript_jobs %>

<br>

<%= link_to 'New Job', new_job_path %>
