<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<h2>All</h2>
<%= render @companies %>

<h2>Finance</h2>
<%= render @finance_companies %>

<h2>Productivity</h2>
<%= render @productivity_companies %>

<h2>Ecommerce</h2>
<%= render @ecommerce_companies %>

<h2>Hiring</h2>
<%= render @companies_hiring %>

<h2>Not Hiring (hiring')</h2>
<%= render @companies_not_hiring %>

<h2>Finance &amp; Hiring (finance ∩ hiring)</h2>
<%= render @finance_companies_hiring %>

<h2>Union (ecommerce ∪ utility)</h2>
<%= render @union_companies %>

<h2>Non-finance and hiring (hiring - finance)</h2>
<%= render @non_finance_companies_hiring %>

<br>

<%= link_to 'New Company', new_company_path %>
